body {
    background-color: rgb(173, 169, 169);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

p,
span,
button {
    margin: 10px;
}

button {
    width: fit-content;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    filter: brightness(.9);
    font-size: 18px;
    color: rgb(8, 43, 43);
}

button:hover {
    filter: brightness(1);
}