Form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 350px;
}

input {
  font-size: 15px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid grey;
}

.form__button {
  width: 30px;
}

.error {
  line-height: 16px;
  min-height: 16px;
  width: 100%;
  color: #b90e0a;
  text-align: left;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: -5px;
}
