button {
  outline: none;
  border: 3px solid black;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  &Background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &Content {
    color: white;
    background-color: #50322f;
    margin: 10% auto;
    width: 25%;
  }

  &CloseBtn {
    color: white;
    font-size: 35px;

    &:hover,
    &:focus {
      cursor: pointer;
      font-weight: bold;
    }
  }

  &ContentText {
    padding: 5px 0 10px;
  }

  &Buttons {
    height: 60px;
  }
}
