.page__main {
    font-family: 'Roboto',
    sans-serif;
    background: rgba(0, 0, 0, 0.0001);
}

.main__section {
    width: 1280px;
    margin: 60px auto 54px auto;
}

/* Header */
.page__header {
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.logo__link {
    width: 330px;

    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    align-items: flex-end;
    text-align: center;
    color: lightblue;
}

.text__orange {
    color: #000;
}

/* Header nav */
.header__nav {
    background: #35444F;
    margin-top: 40px;
}

.header__nav__list {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__nav__item {
    padding: 20px 35px;

    border-left:0.5px solid #FFFFFF;
    border-right:0.5px solid #FFFFFF;
    transition: background-color 0.3s linear;
}

.header__nav__item:hover {
    background-color: #222F3A;
}

.header__item__link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

/* Aside */
.page__aside {
    width: 345px;
    height: 100%;
    border: 1px solid #000000;
}

.aside__nav__list {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding:0;
}

.aside__nav__item {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #485863;

    padding: 26px 0 26px 45px;
    transition: color 0.5s linear;
    transition: background-color 0.5s linear;
    transition: padding 0.5s linear;
}

.aside__nav__item:hover {
    background-color: #DBDBDB;
    color: #35444F;
    padding: 26px 0 26px 80px;
}

/* IMG */
.article__img {
    border: 1px solid #000000;
    display: flex;
} 

.company__logo {
    padding-top: 75px;
    padding-bottom: 75px;
    margin: auto;

    transition: width 0.4s linear;
}

.company__logo:hover {
    width: 50%;
}

/* Main container */
.main__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container__text {
    width: 880px;
    margin-top: 37px;
    margin-bottom: 0;
}

.article__container {
    display: flex;
    flex-direction: column;
}

.container__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #2C2C2C;
}

/* Footer */
.page__footer {
    width: 1280px;
    margin: 0 auto 30px auto;
    padding: 20px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
}

.footer__nav__list {
    display: flex;
    width: 875px;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__item__link {
    font-size: 28px;
    line-height: 28px;

    color: #0C1927;
    transition: color 0.2s linear;
    transition: border-bottom 0.2s linear;
}

.footer__item__link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.copy {
    width: 190px;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
   
    color: #010101;
}
