body {
    font-family: 'Roboto',
    sans-serif;
}

.wrapper {
    background:url(../img/background.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container {
    max-width: 1030px;
    margin: auto;
}

/* Navigation */

.page__header {
    padding-top: 51px;
}

.page__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company__logo {
    margin-right: 10px;
}

.brand__name1 {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;

    color: #FFFFFF;
}

.brand__name2 {
    display: block;
    font-size: 18px;
    line-height: 18px;

    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.nav__brand {
    display: flex;
    align-items: flex-end;
}

.brand__name__container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
}

/* Contacts */

.contacts {
    list-style: none;
    text-decoration: none;
    text-align: right;
}

.contacts__link {
    font-size: 18px;
    line-height: 18px;

    color: #FFFFFF;
}

.contacts__item:first-child {
    margin-bottom: 19px;
}

/* Main */

.goods__list {
    max-width: 1030px;
    padding: 0; */
    list-style: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr)
    overflow: hidden;
    align-items: start;
    row-gap: 37px;
    column-gap: 65px;
}

.goods__item {
    list-style: none;
    position: relative;
}


.goods__img {
    display: block;
    object-fit: cover;
    padding: 0;
    margin: 0;

    border: 5px solid #000000;
    border-image: linear-gradient(to left bottom, #FFFFFF, #000);
    border-image-slice: 1;
}

.goods__title {
    margin: 20px 0 0 0;
    padding: 0;

    text-align: center;
    font-size: 18px;
    line-height: 18px;
 
    color: #FFFFFF;
}

.img__info {
    position: absolute;
    left: 0;
    bottom: 38px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s;

    padding: 7px 14px 12px 16px;
    background: #F26522;
}


/* Footer */

.page__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;

    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF

    margin-top: 49px;
}

/* Hover */

.contacts__link:hover {
    color: #F26522;
}

.nav__brand:hover .brand__name1,
.nav__brand:hover .brand__name2 {
    color: #F26522;
}

.nav__brand:hover .company__logo {
    filter: invert(43%) sepia(92%) saturate(1027%) hue-rotate(345deg) brightness(95%) contrast(100%);
}

.img__info .info__text,
.img__info .info__link {
    color: #fff;
    font-size: 10px;
    line-height: 10px;
}

.info__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__container .info__link {
    font-size: 14px;
    line-height: 14px;
 
    position: relative;
    padding-right: 16px;
}

.info__link::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    bottom:1px;
    right: 0;
    background-image: url(..//img/arrow.png);
    background-size: cover;
}

.img__info .price {
    font-size: 20px;
    line-height: 20px;
}

.goods__item:hover .img__info {
    opacity: 1;
    color: #F26522;
}

.goods__item:hover .goods__title {
    color: #F26522;
}