body {
    font-family: "Roboto", sans-serif;
    margin:0;
}

.container {
    margin: 0 auto;
        padding-left: 25px;
        padding-right: 28px;
    
    @media (min-width: 768px) {
        padding-left: 80px;
        padding-right: 92px;
    }
    @media (min-width: 1200px) {
        // padding-left: 215px;
        // padding-right: 215px;
    }
}

@import './abstracts/mixins';

@import './components/button';
@import './components/colors';
@import './components/footer';
@import './components/header';
@import './components/instagram';
@import './components/navigation';
@import './components/posts';


