.instagram {
    margin-top: 49px;
    padding: 0 47px 42px 25px;

    @media (min-width: 768px) {
        background: rgba($color: #000000, $alpha: 0.03);
        margin-top: 40px;
        padding: 0 92px 50px 80px;
    }

    &__title {
        display:flex;
        justify-content: space-between;
        padding-bottom: 13px;

        @media (min-width: 768px) {
            padding:47px 0 35px 0;
        }

        @media (min-width: 1200px) {
            padding:47px 0 24px 0;
        }
    }

    &__shot {
        @extend %h-1;
    }

    &__page {
        @extend %h-1;
        font-size: 13px;
        display:none;

        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__carousel {
        display: flex;
        justify-content: center;
    }

    &__images {
        @media (min-width: 768px) {
            padding-left: 9px;
        }

        @media (min-width: 1200px) {
            padding-left: 10px;
        }
    }

    &__images:nth-child(2), 
    &__images:nth-child(3) {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
    }

    &__images:last-child {
        display: none;

        @media (min-width: 1200px) {
            display: block;
        }
    }
}
