<template>
  <v-app dark>
    <v-content>
      <v-container>
        <h1 class="text-uppercase text-center accent rounded-lg">
          Список заметок
        </h1>
        <Nuxt />
      </v-container>
    </v-content>

    <v-footer class="justify-center" :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
    }
  },
}
</script>
