body {
    background-color: rgba(139, 133, 141, 0.807);
    margin: auto auto;
    max-width: 800px;
}

.card {
    border: 3px solid rgb(87, 34, 34);
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

p,
span,
button {
    margin: 10px;
}

button {
    width: fit-content;
    box-sizing: border-box;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
    filter: brightness(.9);
    font-size: 18px;
    color: rgb(7, 17, 17);
}

button:hover {
    filter: brightness(1);
}