<template>
  <v-data-table
    :headers="headers"
    v-model="selected"
    :items="this.$store.getters.getNotes"
    sort-by="itemText"
    class="elevation-1"
    item-key="name"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>Мой список заметок</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template #activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              Новая заметка
            </v-btn>
          </template>
          <v-card width="1000">
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="editedItem.name"
                      label="Название заметки"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="editedItem.itemText"
                      label="Tекст заметки"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">
                Отменить
              </v-btn>
              <v-btn color="blue darken-1" text @click="save">
                Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">Удалить заметку?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Отменить</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >Да</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template #[`item.actions`]="{ item }">
      <v-btn small @click="changeStatus(item)">{{
        item.done ? 'Готово' : 'Нет еще'
      }}</v-btn>
      <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: 'IndexPage',
  data: () => ({
    dialog: false,
    dialogDelete: false,
    singleSelect: false,
    selected: [],
    headers: [
      {
        text: 'Все заметки',
        align: 'start',
        sortable: true,
        value: 'name',
      },
      { text: 'Текст заметки', value: 'itemText', align: 'start' },
      { text: 'Действия', value: 'actions', sortable: false, align: 'right' },
    ],
    notes: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      itemText: '',
      done: false,
    },
    defaultItem: {
      name: '',
      itemText: '',
      done: false,
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'Новая заметка' : 'Изменить заметку'
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.$store.state.notes.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem(item) {
      this.editedIndex = this.notes.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm() {
      this.$store.commit('REMOVE_TASK', this.editedItem.id)
      this.closeDelete()
    },

    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save() {
      if ((this.editedItem.name !== '') & (this.editedItem.itemText !== '')) {
        if (this.editedIndex > -1) {
          this.$store.commit('EDIT_TASK', this.editedItem)
        } else {
          this.$store.commit('ADD_TASK', this.editedItem)
        }
        this.close()
      }
    },

    changeStatus(item) {
      this.$store.commit('CHANGE_STATUS', item)
      if (this.selected.includes(item) === false) {
        this.selected.push(item)
      } else {
        this.selected.splice(item, 1)
      }
    },
  },
}
</script>
