body {
    font-family: 'Open Sans',
    sans-serif;
}

.page__body {
    background: #F2F2F2;
}

/* Navigation */

.page__header {
    padding-left: 0;
}

.page__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    background-color: #313131;
}

.brand__container {
    display: flex;
    align-items: center;
}

.brand__name {
    margin-left: 27px;
}

.nav__list {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__brand {

    font-weight: bold;
    font-size: 22px;
    line-height: 30px;

    color: #FFFFFF;
}

.nav__item {
    padding-left: 35px;
}

.item__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.item__link:hover {
    color: #14B9D5;
}


.button__search {
    margin: 0;
    padding: 26px;
    background-color: #000;
    width: 70px;
}

/* Banner */

.banner {
    background-image: url(..//img/header-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center, center;
    background-attachment: fixed;

    padding-bottom: 74px;
    display: flex;
    height: 396px;
    
    flex-direction: column;
    align-items:center;
    justify-content:end;
    min-width: 100vw;
    color: #fff;
}

.page__title {
    max-width: 637px;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;

    text-align: center;
    text-transform: uppercase
}

.buttons__container {
    display: flex;
    justify-content: center;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;
}

.button__banner {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    padding: 16px 19px;
    margin-right: 20px;
    color: #FFFFFF;

    border-radius: 5px;
}

.button__banner:first-child {
    background: #89CA62;
}

.button__banner:last-child {
    margin-right: 0;
    background: #14B9D5;
}

/* Popular posts */

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.page__title__color {
    margin-top: 49px;
    margin-bottom: 52px;
    margin-right: auto;
    margin-left: auto;
    color: #18B4CF;
    text-align: center;
    text-transform: uppercase
}

.popular__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 860px;
}

.popular__item {
    display: flex;
    width: 370px;
    margin-bottom: 28px;
    height: auto;
}

.popular__item:last-child {
    margin-bottom: 0;
}

.popular__link {
    display: flex;
    flex-direction: column;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.popular__img {
    display: block;
    object-fit:contain;
}

.hotel__name {
    padding-top: 20px;
    padding-bottom: 22px;
    margin: 0 auto;
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #353A3D;
}

/* Clients */

.clients {
    background-image: url(..//img/clientsbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center,
    center;

    margin-top: 74px;
    padding-top: 108px;
    padding-bottom: 181px;
}

.line {
    width: 60px;
    height: 3px;
    border: 0;
    background: #18B4CF;
    margin-top: 87px;
}

.popular__clients {
    max-width: 496px;
    margin: 0 auto;

    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.clients__container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 106px;
}

/* Top rated */

.rated__list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
}

.rated__item {
    list-style: none;
}

.rated__img {
    display: block;
    height: 100%;
    object-fit: cover;
}

/* News */

.news {
    background: rgba(0, 0, 0, 0.0001);
}

.news__list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-rows: 0.75fr 1.25fr 1.25fr 0.75fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "news__item__1 news__item__1  news__item__1 news__item__2"
    "news__item__3 news__item__3 news__item__4 news__item__4"
    "news__item__5 news__item__5 news__item__6 news__item__6"
    "news__item__7 news__item__8 news__item__8 news__item__8";

    align-items: start;
    row-gap: 45px;
    column-gap: 35px;
}

.news__list> li {
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news__item__1 {
    grid-area: news__item__1;
}

.news__item__2 {
    grid-area: news__item__2;
}

.news__item__2 .hotel__name,
.news__item__2 .hotel__name {
    margin: 0;
    padding-top: 14px;
}

.news__item__3 {
    grid-area: news__item__3;
}

.news__item__3 .hotel__name {
    padding: 12px 14px 15px 215px;
    margin: 0;
}

.news__item__3 .news__text,
.news__item__4 .news__text,
.news__item__5 .news__text,
.news__item__6 .news__text
 {
    padding: 0px 14px;
    margin: 0;
    text-align: right;
}

.news__item__4 {
    grid-area: news__item__4;
    padding-left: 25px;
}

.news__item__5 {
    grid-area: news__item__5;
}

.news__item__6 {
    grid-area: news__item__6;
    padding-left: 25px;
}

.news__item__7 {
    grid-area: news__item__7;
}

.news__item__8 {
    grid-area: news__item__8;
}

.news__link__special {
    display: flex;
}

.news__link__special .hotel__name {
    padding: 41px 24px 14px 31px;
}

.news__link__special .news__text {
    padding: 0 24px 38px 20px;
    text-align: right;
    margin: 0;
}

.news__img {
    display: block;
    object-fit:cover;
    padding: 0;
    margin: 0;
}

.news__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #5B6469;
}

/* Footer */

.page__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 77px;
    background: #000000;
    padding-top: 29px;
    padding-bottom: 27px;
}

.copy__container {
    display: flex;
    width: 100px;
    align-items: start;
    justify-content: space-between;
}

.copy__logo {
    display: block;
    object-fit:contain;
    padding: 0;
    margin: 0;
}

.copy {
    font-size: 13px;
    line-height: 13px;

    color: #FFFFFF;
}

.up-button {
    position: fixed;
    color: #fff;
    background-color: #286090;
    right: 40px;
    bottom: 40px;
    padding: 6px 12px;
    font-size: 24px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: none;
}

.up-button:hover {
    background-color: #000;
}

.toggle {
    display: block;
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding: 50px 0 0 46%;
}

.fa-chevron-up:before {
    content: "\f077";
}
