*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 20px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgba(15, 13, 20, 0.787);
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#switcher {
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(17, 16, 16);
    padding: 5px;
}

h1,
h2,
p {
    text-align: center;
}