*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 20px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000;
    transition: 1s;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#switcher {
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(16, 24, 24);
    color: aqua;
    padding: 5px;
}

h1, h2, p {
    text-align: center;
}