body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 28px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 80px;
    padding-right: 92px;
  }
}
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
}

.posts__list, .posts__text, .posts__comment, .posts__subtitle, .posts__item, .navigation__list, .footer__contact, .footer__icons, .footer__subtitle--2, .footer__subtitle, .footer__title {
  padding: 0;
  margin: 0;
}

.posts__title, .instagram__page, .instagram__shot {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}

.btn {
  position: fixed;
  width: 44px;
  height: 37px;
  background-color: #000;
  border: none;
  right: 28px;
  top: 0;
  margin-top: 23px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn {
    display: none;
  }
}

.btn__lines {
  position: absolute;
  width: 17px;
  height: 2px;
  left: 13px;
  top: 17px;
  background-color: #FFFFFF;
}
.btn__lines::before {
  top: 4px;
}
.btn__lines::after {
  bottom: 4px;
}
.btn__lines.active {
  background: none;
}
.btn__lines.active::before {
  transform: rotate(-45deg);
  top: 0;
}
.btn__lines.active::after {
  transform: rotate(45deg);
  bottom: 0;
}

.btn__lines::before, .btn__lines::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  left: 0;
}

.posts__subtitle, .navigation__link, .posts__title, .instagram__page, .instagram__shot {
  color: #4E4E4E;
}

.footer {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 35px 47px 35px;
}
@media (min-width: 768px) {
  .footer {
    padding: 57px 52px 80px 32px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 66px 262px 70px 254px;
  }
}
.footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FEFEFE;
}
.footer__subtitle {
  font-size: 12px;
  line-height: 20px;
  color: #B9B9B9;
  padding-top: 8px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__subtitle {
    display: none;
  }
}
.footer__subtitle--2 {
  display: none;
  font-size: 16px;
  line-height: 28px;
  color: #B9B9B9;
  padding-top: 8px;
  text-align: center;
  padding-top: 22px;
}
@media (min-width: 768px) {
  .footer__subtitle--2 {
    display: inline;
  }
}
.footer__icons {
  padding: 26px 0 25px;
}
@media (min-width: 768px) {
  .footer__icons {
    padding: 37px 0 34px;
  }
}
.footer__contact {
  font-size: 14px;
  line-height: 24px;
  color: #B9B9B9;
  text-align: center;
}
.footer__tel {
  display: block;
  color: #B9B9B9;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__tel {
    display: inline;
  }
}
.footer__mail {
  display: block;
  color: #B9B9B9;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__mail {
    display: inline;
  }
}

.instagram {
  margin-top: 49px;
  padding: 0 47px 42px 25px;
}
@media (min-width: 768px) {
  .instagram {
    background: rgba(0, 0, 0, 0.03);
    margin-top: 40px;
    padding: 0 92px 50px 80px;
  }
}
.instagram__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .instagram__title {
    padding: 47px 0 35px 0;
  }
}
@media (min-width: 1200px) {
  .instagram__title {
    padding: 47px 0 24px 0;
  }
}
.instagram__page {
  font-size: 13px;
  display: none;
}
@media (min-width: 768px) {
  .instagram__page {
    display: flex;
  }
}
.instagram__carousel {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .instagram__images {
    padding-left: 9px;
  }
}
@media (min-width: 1200px) {
  .instagram__images {
    padding-left: 10px;
  }
}
.instagram__images:nth-child(2), .instagram__images:nth-child(3) {
  display: none;
}
@media (min-width: 768px) {
  .instagram__images:nth-child(2), .instagram__images:nth-child(3) {
    display: block;
  }
}
.instagram__images:last-child {
  display: none;
}
@media (min-width: 1200px) {
  .instagram__images:last-child {
    display: block;
  }
}

.navigation {
  display: none;
  background-color: #F5F5F5;
  position: fixed;
  margin-top: 60px;
  right: 28px;
  top: 0;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    justify-content: center;
    position: static;
    margin-top: 41px;
    background-color: transparent;
  }
}
.navigation.active {
  display: block;
}
@media (min-width: 1200px) {
  .navigation {
    margin-top: 29px;
  }
}
@media (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}
@media (max-width: 767px) {
  .navigation__item {
    width: 182px;
  }
}
@media (max-width: 767px) {
  .navigation__item:hover {
    background-color: #E5E5E5;
  }
}
.navigation__link {
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
}
.navigation__link.active {
  color: #57A4A4;
}
@media (max-width: 767px) {
  .navigation__link {
    width: 182px;
    padding-left: 12px;
  }
}
@media (min-width: 768px) {
  .navigation__link {
    padding-left: 20px;
  }
}
@media (min-width: 1200px) {
  .navigation__link {
    padding-left: 50px;
  }
}

.posts__img {
  display: block;
  margin-top: 83px;
  padding-bottom: 28px;
  background-image: url("img/intro-320.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
@media (min-width: 768px) {
  .posts__img {
    margin-top: 43px;
    background-image: url("img/intro-768.jpg");
    height: 361px;
  }
}
@media (min-width: 1200px) {
  .posts__img {
    margin-top: 51px;
    background-image: url("img/intro-1200.jpg");
    height: 550px;
  }
}
@media (min-width: 768px) {
  .posts__info {
    padding-left: 20px;
  }
}
.posts__item {
  padding-bottom: 28.5px;
}
@media (min-width: 768px) {
  .posts__item {
    display: flex;
    padding-bottom: 32px;
  }
}
.posts__title {
  padding: 38px 0 23px 0;
}
@media (min-width: 768px) {
  .posts__title {
    padding: 56px 0 24px 0;
  }
}
@media (min-width: 1200px) {
  .posts__title {
    padding-top: 66px;
  }
}
.posts__subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  padding-top: 11px;
}
@media (min-width: 768px) {
  .posts__subtitle {
    padding-top: 0;
  }
}
.posts__comment {
  font-size: 11px;
  line-height: 20px;
  color: #7C7C7C;
}
.posts__text {
  display: none;
  font-size: 14px;
  line-height: 26px;
  color: #5C5C5C;
  padding-top: 13px;
}
@media (min-width: 768px) {
  .posts__text {
    display: block;
  }
}
@media (min-width: 1200px) {
  .posts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.posts__flowers {
  display: none;
}
@media (min-width: 768px) {
  .posts__flowers {
    display: flex;
  }
}