.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
}

%p-m-0 {
    padding: 0;
    margin: 0;
}

%h-1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    @extend %main__text--grey;
}
