html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* =====page===== */

.page {
  width: 100%;
  height: 100vh;
  min-height: 770px;
  position: relative;
  overflow: hidden;

  background: black url("../img/bg.jpg") center no-repeat;
  background-size: cover;
}

/* =====header===== */

.header {
  padding: 1rem 0;
  margin-bottom: 110px;

  background: #aa1f1f;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-brand {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.header-nav {
  display: flex;
}

.header-logo img {
  display: block;
}

.header-nav-link {
  margin-left: 1.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;

  transition: color 0.2s linear;
}

.header-nav-link.active {
  position: relative;
}

.header-nav-link:hover {
  color: rgba(169, 206, 253, 0.575);
}

.header-nav-link.active:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;

  position: absolute;
  left: 0;
  bottom: -5px;
}

/* =====content===== */

.content {
  height: 100%;
  width: 100%;
  max-width: 565px;
}

.content-header {
  margin-bottom: 35px;
}

.subtitle {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

.title {
  margin-bottom: 10px;

  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
}

.title span {
  color: #2b7ded;
}

.text {
  margin-bottom: 50px;

  font-size: 1rem;
  color: #fff;
}

/* =====btn===== */
.btn {
  display: inline-block;
  padding: 12px 35px;
  font-size: 1rem;
  line-height: 1.1;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-family: inherit;

  cursor: pointer;
  border: none;
  background-color: #aa1f1f;
  border-radius: 5px;

  transition: 0.2s linear;
}

.btn-full {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #8a1111;
}

/* =====author===== */
.author {
  position: absolute;

  right: 20px;
  bottom: 0;
}

/* =====footer===== */

.footer {
  width: 100%;
  position: absolute;

  bottom: 45px;
  left: 0;
}

/* =====contacts===== */

.contacts {
  display: flex;
  align-items: center;
}

.contacts-link {
  margin-right: 2rem;

  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.contacts-link:last-child {
  margin-right: 0;
  position: relative;
}

.contacts-link:last-child:after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  margin-left: 2rem;

  background-color: #fff;
  pointer-events: none;

  position: absolute;
  left: 100%;
  top: 11px;
}

.contacts-link:hover {
  text-decoration: underline;
}

.contacts-icon {
  margin-right: 5px;
}

/* =====form===== */

.form {
  width: 100%;
  max-width: 280px;
}

.form-group {
  margin-bottom: 20px;
}

.input,
.textarea {
  display: block;
  width: 100%;
  padding: 12px 18px;

  font-family: inherit;
  font-size: 1rem;
  color: #fff;

  border: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.input::placeholder,
.textarea::placeholder {
  color: #fff;
}

.textarea {
  margin-bottom: 20px;

  height: 100px;
  resize: none;
}

/* =====media===== */

@media (max-width: 1000px) {
  .author {
    right: -170px;
  }
}

@media (max-width: 767px) {
  .page {
    min-height: 100vh;
    height: auto;
    padding-bottom: 2rem;
  }

  /* header */
  .header {
    margin-bottom: 50px;
  }

  .header-logo {
    display: none;
  }

  .header-brand {
    font-size: 1.2rem;
  }

  /* content */

  .content {
    text-align: center;

    max-width: none;
    margin-bottom: 50px;
  }

  /* form */
  .form {
    margin: 0 auto;
  }

  /* footer */

  .footer {
    position: static;
  }

  /* contact */
  .contacts {
    flex-direction: column;
  }

  .contacts-link {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .contacts-link:last-child {
    margin-bottom: 0;
  }

  .contacts-link:last-child:after {
    display: none;
  }

  .author {
    display: none;
  }
}

@media (max-width: 565px) {
  /* header */
  .header-inner {
    flex-direction: column;
  }

  .header-brand {
    margin-bottom: 1rem;
  }
}

@media (max-width: 320px) {
  .subtitle {
    font-size: 1.2rem;
  }
}
