body {
    font-family: 'Ubuntu',
    sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.wrapper {
    background:url(../img/background.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
}

/* Header*/

.page__header {
    padding: 18px 80px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand__link {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.container {
    display: flex;
    align-items: center;
}

.brand__name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
}

.brand__name:hover {
    color: darkgreen;
}


.login__link {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.nav__link {
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;
    padding-right: 27px;
}

.nav__link:hover path{
    fill: darkgreen;
} 

.first__login__link,
.nav__text {
    margin-right: 5px;
}

.first__text {
    padding-left: 27px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    ;

    padding-top: 3px;
    padding-bottom: 3px;
}

/* Form */

.main__form {
    min-height: 712px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__container {
    max-width: 444px;
    height: 100%;
    padding: 31px 60px 38px 60px;

    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.title__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    color: #434343;
    margin: 0;
    padding: 0;
    position: relative;
}

.title::before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    width: 18px;
    height: 18px;
    right: 111px;
    top: 0px;

    background: #3CB878;
}

.form__login {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #3CB878;
}

.form__login:hover {
    text-decoration: underline;
}

.btn__container {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    column-gap: 4px;
    margin-bottom: 30px;
}

.btn:first-child {
    background: #305DB8;
}

.first__btn:hover {
    background: #022263;
}

.btn:last-child {
    background: #DF4A32;
}

.second__btn:hover {
    background: #AB1F09;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    border: none;
    border-radius: 4px;
    transition: background 0.3s linear;
}

.logo_facebook {
    margin-left: 17px;
}

.logo_google {
    margin: 2px 7px 2px 14px;
    object-fit: cover;
    display: block;
    max-width: 100%;
    height: auto;
}

.btn__name {
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;
}

.g__media {
    margin-right: 27px;
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    padding: 7px 0 7px 30px;
}

.f__media {
    margin-right: 22px;
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    padding: 7px 0 7px 18px;
}

.choose {
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;

    color: #848484;
    position: relative;
}

.choose::before {
    content: "";
    width: 152px;
    height: 1px;
    position: absolute;
    right: 170px;
    bottom: 5px;

    background: #F2F2F2;
}

.choose::after {
    content: "";
    width: 152px;
    height: 1px;
    position: absolute;
    left: 170px;
    bottom: 5px;

    background: #F2F2F2;
}

.contact__form {
    width: 324px;
    color: blue;
}

.form-element {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 19px;
    padding-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #434343;
}

input::-webkit-input-placeholder {
    color: #BEBEBE;
}

input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
    outline: none;
}

.btn__submit[type="submit"] {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 15px 0;
    border: none;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.8);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;
}

.btn__submit {
    transition: background 0.3s linear;
}

.btn__submit:hover {
    background: #01813F;
}

.terms {
    color: rgba(60, 184, 120, 0.8);
    transition: text-decoration 0.9s linear;
}

.terms:hover {
    text-decoration: underline;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
    border: 1px solid #F2F2F2;
}

.checkbox+label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
}

.checkbox+label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    padding: 3px;
}

.checkbox+label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 20px;
    height: 20px;
    padding: 3px;
}

.checkbox:checked+label:before {
    background: url(..//img/check.svg);
    background-position-x: center;
    background-position-y: center;
    background-size: 80%;
    background-repeat: no-repeat;
}