*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* Navbar */

.page__header {
    margin-top: 25px;
    margin-bottom: 25px;
}

.navbar {
    text-align: center;
}

.navbar__list {
    display: inline-block;
    margin: 0 200px;
}

.navbar__item {  
    display: inline-block;
}

.item__link {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    padding: 0 35px;
}

/* Main */

.page__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: inline;
    align-items: center ;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    align-items: center;
    justify-content: center;
}

.content {
    margin: 50px 68px;
    text-align: center;
}

.content_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
}

.btn {
    margin-top: 100px;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;

    background: #FF0000;
    border-radius: 4px;
    border-style: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;

    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* Footer */

.page__footer {

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;

    margin-top: 80px;
    margin-left: 710px;
    margin-right: 105;
    margin-bottom: 30px;
    display: inline-block;
    text-align: right;
}